* {
    box-sizing: border-box;
}

body {
    background-image: url('../assets/main6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.7fr 1.6fr 0.7fr;
    grid-template-rows: 1fr 4fr;
    gap: 2px 5px;
    grid-template-areas: ". consol-wrapper ." ". table-wrapper .";
    padding-top: 20px;
}

.table-wrapper {
    grid-area: table-wrapper;
    margin-top: 20px;
}

.consol-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: ". level level level ." "hints score smile time lives" "safe score smile time undo";
    grid-area: consol-wrapper;
    text-align: center;
    height: 100px;
    margin-bottom: 20px;
    border: 3px #eee;
    background-color: #c0c0c0;
}

.level {
    grid-area: level;
    height: 50px;
    padding-top: 10px;
    border: inset 3px #eee;
    background-color: #c0c0c0;
}

.smile {
    grid-area: smile;
    border: inset 3px #eee;
    background-color: #c0c0c0;
    padding: 10px;
}

.smile-face {
    cursor: pointer;
    display: block;
    padding-bottom: 2px;
}

.score {
    grid-area: score;
    border: inset 3px #eee;
    background-color: #c0c0c0;
    font-family: fantasy;
    color: #ff000067;
    padding-top: 20px;
    font-weight: 900;
    font-size: 20px;
}

.time {
    grid-area: time;
    border: inset 3px #eee;
    background-color: #c0c0c0;
    font-family: fantasy;
    color: #ff000067;
    font-weight: 900;
    font-size: 20px;
}

.time p {
    font-size: 20px;
}

.lives {
    grid-area: lives;
    border: inset 3px #eee;
    background-color: #c0c0c0;
    font-family: fantasy;
    color: #ff000067;
    font-weight: 900;
    font-size: 20px;
}

.hints {
    grid-area: hints;
    border: inset 3px #eee;
    background-color: #c0c0c0;
    cursor: pointer;
}

.undo {
    grid-area: undo;
    border: inset 3px #eee;
    background-color: #c0c0c0;
}

.safe {
    grid-area: safe;
    border: inset 3px #eee;
    background-color: #c0c0c0;
}

.main-control {
    margin-bottom: 30px;
}

table {
    margin: auto;
    top: 20px;
}

.mines-body {
    border: 2px solid black;
    background-color: gray;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: 800;
    border: inset 3px #eee;
    background-color: hsla(0, 1%, 58%, 0.082);
    text-align: center;
    -moz-box-shadow: inset 0 0 5px #CCC;
    -webkit-box-shadow: inset 0 0 5px #CCC;
    box-shadow: inset 0 0 5px #CCC;
}

.cell:hover {
    opacity: 0.5;
    cursor: pointer;
    background-color: #c0c0c0;
}

.safe-cell {
    background-color: limegreen;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.flag {
    text-align: center;
}

.mine-game-over {
    background-color: brown;
}

.mine-game {
    background-color: #c0c0c0;
}

.negs0 {
    background-color: #c0c0c0;
    border: inset 3px rgba(237, 237, 237, 0.945);
}

.negs1 {
    background-color: #c0c0c0;
    color: blue;
}

.negs2 {
    background-color: #c0c0c0;
    color: green;
}

.negs3 {
    background-color: #c0c0c0;
    color: darkred;
}

.negs4 {
    background-color: #c0c0c0;
    color: #08103d;
}

.negs5 {
    background-color: #c0c0c0;
    color: rgb(238, 12, 4);
}

.negs6 {
    background-color: #c0c0c0;
    color: rgb(4, 34, 10);
}

.negs7 {
    background-color: #c0c0c0;
    color: rgb(26, 3, 68);
}

.negs8 {
    background-color: #c0c0c0;
    color: rgb(44, 41, 25);
}

.setMine {
    position: absolute;
    top: 200px;
    left: 35%;
    border: 5px solid gray;
    margin: 5px;
    padding: 5px;
    background-color: deepskyblue;
    display: none;
}

.open {
    display: block;
}