* {
    box-sizing: border-box;
}

body {
    background-color: #c0c0c0;
    background-image: url('../assets/main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.7fr 1.6fr 0.7fr;
    grid-template-rows: 1fr 4fr;
    gap: 2px 5px;
    grid-template-areas: ". consol-wrapper ." ". table-wrapper .";
    padding-top: 20px;
}

.table-wrapper {
    grid-area: table-wrapper;
    margin-top: 20px;
}

.consol-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: ". level level level ." "hints score smile time lives" "safe score smile time undo";
    grid-area: consol-wrapper;
    text-align: center;
    height: 100px;
    margin-bottom: 20px;
    border: 3px #eee;
    background-color: #c0c0c0;
}

.level {
    grid-area: level;
    background-color: #949494;
    height: 50px;
    padding-top: 10px;
    border: inset 3px #eee;
    background-color: #c0c0c0;
}

.smile {
    grid-area: smile;
    border: inset 3px #eee;
    background-color: #c0c0c0;
    padding: 10px;
}

.smile-face {
    cursor: pointer;
}

.score {
    grid-area: score;
    border: inset 3px #eee;
    background-color: #c0c0c0;
    font-family: fantasy;
    color: #ff000067;
    padding-top: 20px;
    font-weight: 900;
    font-size: 20px;
}

.time {
    grid-area: time;
    border: inset 3px #eee;
    background-color: #c0c0c0;
    font-family: fantasy;
    color: #ff000067;
    font-weight: 900;
    font-size: 20px;
}

.time p {
    font-size: 20px;
}

.lives {
    grid-area: lives;
    border: inset 3px #eee;
    background-color: #c0c0c0;
    font-family: fantasy;
    color: #ff000067;
    font-weight: 900;
    font-size: 20px;
}

.hints {
    grid-area: hints;
    border: inset 3px #eee;
    background-color: #c0c0c0;
    cursor: pointer;
}

.undo {
    grid-area: undo;
    border: inset 3px #eee;
    background-color: #c0c0c0;
}

.safe {
    grid-area: safe;
    border: inset 3px #eee;
    background-color: #c0c0c0;
}

.main-control {
    background-color: slategrey;
    margin-bottom: 30px;
}

button {
    border: inset 3px #eee;
    background-color: #c0c0c0;
}

table {
    margin: auto;
    top: 20px;
    border: inset 3px #eee;
    background-color: #c0c0c0;
}

.mines-body {
    border: 2px solid black;
    background-color: gray;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: 800;
    border: inset 3px #eee;
    background-color: #c0c0c0;
    text-align: center;
}

.cell:hover {
    opacity: 0.5;
    cursor: pointer;
    background-color: rgb(199, 195, 195);
}

.flag {
    text-align: center;
}

.mine {
    background-color: brown;
}

.negs0 {
    background-color: rgb(99, 99, 99);
    border: inset 3px #eee;
}

.negs1 {
    color: blue;
}

.negs2 {
    color: green;
}

.negs3 {
    color: darkred;
}

.negs4 {
    color: #08103d;
}

.negs5 {
    color: rgb(238, 12, 4);
}

.negs6 {
    color: rgb(4, 34, 10);
}

.negs7 {
    color: rgb(26, 3, 68);
}

.negs8 {
    color: rgb(44, 41, 25);
}